.victoryChart{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.controlButton {
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  background: conic-gradient(
              rgb(255, 255, 255) 0%, 
              rgb(255, 255, 255) 10%, 
              rgb(241, 240, 240) 20%, 
              rgb(241, 240, 240) 30%, 
              rgb(255, 255, 255) 40%, 
              rgb(241, 240, 240) 50%, 
              rgb(241, 240, 240) 60%, 
              rgb(255, 255, 255) 90%);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  outline: none;
}
.controlButton :active {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  background: conic-gradient(
              rgb(255, 255, 255) 0%, 
              rgb(255, 255, 255) 10%, 
              rgb(241, 240, 240) 20%, 
              rgb(241, 240, 240) 30%, 
              rgb(255, 255, 255) 40%, 
              rgb(241, 240, 240) 50%, 
              rgb(241, 240, 240) 60%, 
              rgb(255, 255, 255) 90%);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  outline: none;
}
.innerButton{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background:#fff;
}
.innerButton :active{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background:#fff;
}
.plusSvg{
  width: 90%;
  height: 90%;
}
.playSvg{
  width: 70%;
  height: 70%;
}
.buttonAddGraph{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
  width: 50px;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  background: conic-gradient(
              rgb(255, 255, 255) 0%, 
              rgb(255, 255, 255) 10%, 
              rgb(241, 240, 240) 20%, 
              rgb(241, 240, 240) 30%, 
              rgb(255, 255, 255) 40%, 
              rgb(241, 240, 240) 50%, 
              rgb(241, 240, 240) 60%, 
              rgb(255, 255, 255) 90%);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  outline: none;
}
.buttonAddGraph:focus{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
  width: 50px;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  background: conic-gradient(
              rgb(255, 255, 255) 0%, 
              rgb(255, 255, 255) 10%, 
              rgb(241, 240, 240) 20%, 
              rgb(241, 240, 240) 30%, 
              rgb(255, 255, 255) 40%, 
              rgb(241, 240, 240) 50%, 
              rgb(241, 240, 240) 60%, 
              rgb(255, 255, 255) 90%);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  outline: none;
}
.buttonAddGraph:hover{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
  width: 50px;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  background: conic-gradient(
              rgb(255, 255, 255) 0%, 
              rgb(255, 255, 255) 10%, 
              rgb(241, 240, 240) 20%, 
              rgb(241, 240, 240) 30%, 
              rgb(255, 255, 255) 40%, 
              rgb(241, 240, 240) 50%, 
              rgb(241, 240, 240) 60%, 
              rgb(255, 255, 255) 90%);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  outline: none;
}
.buttonAddGraph:active{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
  width: 50px;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  background: conic-gradient(
              rgb(255, 255, 255) 0%, 
              rgb(255, 255, 255) 10%, 
              rgb(241, 240, 240) 20%, 
              rgb(241, 240, 240) 30%, 
              rgb(255, 255, 255) 40%, 
              rgb(241, 240, 240) 50%, 
              rgb(241, 240, 240) 60%, 
              rgb(255, 255, 255) 90%);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  outline: none;
}
.buttonAddGraph:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
  width: 50px;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  background: conic-gradient(
              rgb(255, 255, 255) 0%, 
              rgb(255, 255, 255) 10%, 
              rgb(241, 240, 240) 20%, 
              rgb(241, 240, 240) 30%, 
              rgb(255, 255, 255) 40%, 
              rgb(241, 240, 240) 50%, 
              rgb(241, 240, 240) 60%, 
              rgb(255, 255, 255) 90%);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  outline: none;
}
.wrapperAddGraph{
  display: grid;
  grid-template-columns: 25vw 4vw max-content;
  size: 6em;
}
.wrapperSelectAddGraph{
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px 0px, 
              rgba(0, 0, 0, 0.12) 2px 4px 8px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(252, 251, 250);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  size: 4em;
}
.innerSelectAddGraph{
  width: 90%;
  height: max-content;
  display: grid;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(252, 251, 250);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  size: 4em;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  
              rgba(255,255,255,0) 0%,
              rgba(0,174,255,0.04) 50%,
              rgba(255,255,255,0) 51%,
              rgba(0,174,255,0.03) 100%);  
}

