.chip {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  margin:  5px;
  max-width: 300px;
  min-width: max-content;
  overflow: hidden;
  cursor: pointer;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.06), 
  0px 3px 8px 1px rgba(0, 0, 0, 0.06) , 
  0px 6px 16px 1px rgba(0, 0, 0, 0.06) ;
  border-width: 2px;
  border-style: solid;
  border-color: #FFF;
  border-image: initial;
}

.chip.active {
  background-color: #D6351E;
}

.chipClose:hover {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
}

.chipText {
  font-weight: 600;
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.closeSvg{
  width: 60%;
  height: 60%;
}
.closeSvg:hover{
  width: 70%;
  height: 70%;
  color: #fff;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 2px transparent;
}

